* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}
nav[role="navigation"] ul{
	position: fixed;
	background-color: rgba(0,0,0, .75);
	z-index: 10;
	width: 100%;
	list-style:none;
	text-align:center;
}
nav li {
	display:inline;
}
nav a:link {
	color: white;
	display: inline-block;
	padding: 0 .625em;
	line-height: 2.75em;
}
nav a:visited {
	color: #fff;
}
nav a:hover {
	background: #ccc;
	color: #333;
}


section#about {
	background-color: blue;
}

section#resume {
	background-color: green;
}
section#portfolio {
	background-color: red;
}
section#contact {
	background-color: yellow;
}
.content {
	width: 90%;
	padding-top: 60px;
	margin: 0 auto;
	background-color: rgba(255,255,255,.5);
}